body {
    background-color: lightblue;
    font-family: Arial;
}

h1 {
    color: darkblue;
}

form {
    border: 1px solid black;
    padding: 10px;
}

label {
    font-weight: bold;
}

button {
    background-color: yellow;
}
