/* Estilos generales */
img {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
}

/* Paisaje de Granada */
#alhambra {
    width: 300px;
    height: 200px;
}

/* Paisaje de Granada atardecer */
.centrada {
    margin-left: auto;
    margin-right: auto;
}

.redondeada {
    border-radius: 15px;
}

/* Escudo del Granada */
#figure1 {
    float: right;          
    width: 30%;            
    margin: 10px;          
    text-align: center;   
}


#figure1 img {
    display: block;
    margin: auto;
}

#figure1 figcaption {
    background-color: aqua;
    text-align: center;
}


