table {
    width: 1000px;              
    margin: 20px auto;
    border-collapse: separate;   
    border-spacing: 8px;         
    border: 3px solid gainsboro;     
}

td, th {
    background: aqua;          
    border: 3px solid gainsboro;     
    text-align: center;
    padding: 8px;
}

th {
    font-size: 32px;
    font-weight: 700;
}

td img {
    width: 200px;                 
    display: block;
    margin: 0 auto;
    background: #fff;
    padding: 10px;
}

.interna {
    width: 100%;
    border-collapse: separate;
    border-spacing: 6px;           
    border: 3px solid black;      
    background: white;
}

.interna td {
    
    border: 2px solid black;        
    height: 60px;
    padding: 6px;
}

.centro { 
    width: 60%; 
}

.azul {
    background-color: blue;       
    border: 3px solid black;                     
}

.azul td {
    background-color: blue;       
    border: 3px solid black;
}

.inferior {
    height: 60px; 
}
